<div class="wrapper">
  <div class="container">
  <div class="row-fluid">
      <div class="col-md-12">
      <button class="wg-external-csv-export-button fa fa-file-excel-o btn btn-primary btn-custom waves-effect w-md waves-light m-b-5" data-grid-name="grid"> Сохранить в CSV</button>
      </p>
      <div class="card-box">
        <h4 class="m-t-0 header-title">Таблица неплательщиков</h4>
          <div class="example1">
            <%= render   'grid' %>
          </div>
      </div>
    </div>
  </div>
   </div>
</div>

