<div class="wrapper">
  <div class="container">
  <div class="row-fluid many-grids-on-page">
    <div class="col-md-12">
      <div class="card-box">
        <h4 class="m-t-0 header-title">Задолженность меньше 50 000 (руб.)</h4>
          <div class="example1">
            <%= render   'grid50' %>
          </div>
      </div>
    </div>
  </div>
  <div class="row-fluid many-grids-on-page">
    <div class="col-md-12">
      <div class="card-box">
        <h4 class="m-t-0 header-title">Задолженность больше 50 000 (руб.)</h4>
          <div class="example2">
            <%= render   'grid100' %>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>

